<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>

    <title>Main Template</title>
</head>
<body>
<!-- This is the main template that will run across all pages so that some features remain constant-->
<div class="container-fluid">
    <div class="jumbotron">
        Mongo with Mangos !!!
        <form>
            <label for="script">Add note</label>
        </form>
        <button class="btn btn-primary">Scrape</button>
    </div>
    <script id="address-template" type="text/x-handlebars-template">

</script>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8" id="theContextPlaceholder">
            {{{body}}}
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>


</body>
</html>