<script id="article-template" type="text/x-handlebars-template">
    {{#each articleContext}}
        <h3>{{title}}</h3>
        <p>{{summary}}</p>
        <h5>{{url}}</h5>
    {{/each}}

</script>
<div id="theContextPlaceholder">
    
</div>